
body{
    background-color: antiquewhite;
    background-size: 100%;
    
}
.heading{
    color: black;
    font-size: 50px;
    font-family: 'Redressed', cursive;
    text-align: center;
    font-weight: 10;
}
.heading:hover{
    color: pink;
    font-size: 50px;
    font-family: 'Redressed', cursive;
    text-align: center;
    border: 1px solid  #ccc;
    font-weight: 10;
}
.writings{
    color: rgb(223, 160, 23);
    font-size: 12px;
    font-family: 'Redressed', cursive;

    
}
.logo_style{
    border-radius: 50%;
    width: 50px;
    margin: auto;
    display: block;

}



.portfolio{
    width: auto;
    float: right;
}
.portfolio:hover{
    transform: scale(1.2);
}
.works{
    width: auto;
    float: right;
}
.works:hover{
    transform: scale(1.2);
}
.about{
    width: auto;
    float: right;
    
}
.about:hover{
    transform: scale(1.2);
}
.descr{
    float: left;
    position: relative;
    

}
.logo_style{
    border-radius: 50%;
    width: 50px;

}
#flexbox-heading-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.gap{
    width: 50%;
}
.gap2{
    width: 10%;
}